<a href="https://colab.research.google.com/github/Mal-Lem/python/blob/main/2_Les_bases_de_Python_Exercices_el%C3%A8ve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<b> 1) Debuggez cette erreur et expliquer brievement le problème en commentaire

In [2]:
Nom = 'Sebastien'

In [4]:
print('mon nom est '+ Nom) # c'est que la variable doit etre ajouter avec un +

mon nom est Sebastien

<b>2) Faites en sorte que la cellule ci-dessous retourne 'J'apprends la data Science' à partir des variables à disposition

In [7]:
debutPhrase = "J'apprends la " # faut remplacer '' par ""
finPhrase = 'Data science'
print(debutPhrase + finPhrase)

J'apprends la Data science

<b> 3) Debugguez le code ci-dessous en modifiant uniquement ce qu'il se trouve dans print(...)

In [9]:
heuresPassees = 2
debutPhrase = 'j\'apprends Python depuis '
finPhrase = ' heures.'

print(debutPhrase + str(heuresPassees) + finPhrase)

j'apprends Python depuis 2 heures.

<b> 4) quelle sera la valeur de varAge dans le code ci-dessous ? Expliquez en commentaire la raison

In [10]:
varAge = 28

In [11]:
varAge = 30

In [12]:
print(varAge) # la première etais exraser par la deuxieme

30

<b> 5) Création d'un calculaeur de conversion </b>

5) a) A partir des variables mises à disposition, calculez le taux de conversion et stockez le dans la variable "tauxConversion"

Définition : Le taux de conversion d’un site web désigne le plus souvent le ratio [conversions/visites] donnant le pourcentage de visiteurs réalisant un achat au cours de la visite d’un site

In [30]:
nombreDeVisites = 26736352
nombredeConversions = 973520
tauxConversion= nombredeConversions/nombreDeVisites

5) b) Verifiez le type de la variable en l'imprimant à l'execution de la cellule

In [31]:
print(tauxConversion)

0.036411848557349934

5) c) faites en sorte que le taux soit en base 100 plutôt qu'en base 1 (ex : avoir 62 plutot que 0.62)

In [32]:
tauxConversion= tauxConversion*100

5) d) faites en sorte que le taux ne contient plus de virgule (nombre entier)

In [33]:
tauxConversion= int(tauxConversion)

5) e) Imprimez la phrase suivante "Le taux de conversion est (valeur tauxConversion) %"

In [34]:
print("Le taux de conversion est " + str(tauxConversion) +"%")

Le taux de conversion est 3%

5) f) Rassemblez toutes vos manipulations dans une cellule pour faire le travail en une seule fois. Commentez votre code pour expliquer vos manipulations.

In [ ]:
nombreDeVisites = 26736352
nombredeConversions = 973520
#tauxConversion=...

<b>6) Vous travaillez sur un script pour un théâtre qui doit préparer des pancartes avec les noms des pièces de théâtre et les dates des représentations. Vous devez formater les informations données pour créer une annonce appropriée.

In [36]:
#Les informations de départ
titre = "Les Misérables"
date = "24 Juillet"

6) a) Créez une nouvelle variable "annonce" qui contient le titre de la pièce et la date de la représentation en utilisant la concaténation de littéraux. Le résultat doit être : "Les Misérables - 24 Juillet"

In [41]:
annonce = str(titre) + " - " + str(date)
print(annonce)

Les Misérables - 24 Juillet

6) b) La pancarte ne peut afficher que 20 caractères. Tronquez la chaîne annonce pour qu'elle ne contienne que les 20 premiers caractères et stockez le résultat dans une nouvelle variable annonce_tronquee.

In [42]:
annonce_tronquee = annonce[:20]
print(annonce_tronquee)

Les Misérables - 24

6. c) Pour des raisons esthétiques, le théâtre a décidé de ne pas utiliser d'espaces. Remplacez tous les espaces dans annonce_tronquee par des underscores (_) et stockez le résultat dans une nouvelle variable annonce_formatee.

In [44]:
annonce_formatee = annonce_tronquee.replace(" ","_")
print(annonce_formatee)

Les_Misérables_-_24_

6) d) La date de la représentation a été changée du "24 Juillet" au "25 Juillet". Mettez à jour la variable annonce_formatee pour refléter ce changement.

In [46]:
annonce_formatee = annonce_formatee.replace("24","25")
print(annonce_formatee)

Les_Misérables_-_25_

6) e) Imprimez la longueur de la chaîne finale annonce_formatee afin de s'assure qu'elle fasse toujours 20 caractères

In [47]:
print(len(annonce_formatee))

20