<a href="https://colab.research.google.com/github/Mal-Lem/python/blob/main/4_2_Les_Tuples_Exercices_%C3%A9l%C3%A8ve.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> Exercice 1 </h1>

Vous êtes en charge d'un programme qui doit gérer les informations des étudiants d'une école. Les données de chaque étudiant sont stockées sous la forme d'un tuple contenant le nom de l'étudiant, son âge et sa moyenne générale.

1) Création des Tuples

Créez trois tuples pour trois étudiants (format "(nom, age, moyenne)") :
- Alice, 20 ans, moyenne de 15.5
- Bob, 22 ans, moyenne de 14.0
- Clara, 19 ans, moyenne de 16.2

Stockez ces 3 tuples dans une liste nommée etudiants

2) récuppération d'informations

- Affichez les informations du dernier étudiant de la liste
- Affichez la moyenne du premier étudiant de la liste
- Récupérez et affichez le nom, l'age et la moyenne du deuxième étudiant (Bob) dans les varaibles nom, age, moyenne et cel en une seule ligne

3) ajout d'un étudiant

Un nouvel étudiant, David, 21 ans avec une moyenne de 15.0, arrive. Ajoutez ses informations dans la liste etudiants.

4) calcul de la moyenne des étudiants

- Créez un nouveau Tuple "Moyenne" qui contiendra les moyennes de tous les étudiants (à vous d'aller les récupérer dans le tuple "etudiants" existants
- Calculez la moyenne des étudiants via les méthodes summ et len

In [2]:
t1 =  ("alice",20,15.5)
t2 =  ("bob",22,14.0)
t3 =  ("clara",19,16.2)
etudiants = [t1,t2,t3]

In [3]:
etudiants[-1]

('clara', 19, 16.2)

In [4]:
etudiants[0][2]

15.5

In [6]:
nom,age,moyen = etudiants[1][0] ,etudiants[1][1] ,etudiants[1][2]
print(nom,age,moyen)

bob 22 14.0

<h1> Exercice 2 </h1>

Dans un jeu de rôle, chaque personnage est représenté par un tuple contenant son nom, sa classe (comme mage, guerrier, archer, etc.), et ses points de vie. Votre tâche est de gérer les informations de ces personnages.

1) Créez des tuples pour trois personnages :
- Lila, un mage, avec 100 points de vie.
- Torn, un guerrier, avec 150 points de vie.
- Eryn, un archer, avec 120 points de vie.
Stockez ces tuples dans une liste nommée personnages

2) Modification des Points de Vie
Lors d'une bataille, Torn perd 20 points de vie. Mettez à jour ses informations (Rappelez-vous que vous ne pouvez pas modifier un tuple directement, il va falloir trouver une solution)

3) Affichage des Informations

Affichez les nouvelle informations de Torn dans un format lisible : "Nom du personnage : [Nom], Classe : [Classe], Points de vie : [Points de vie]"

In [7]:
t1 = ("lila","mage",100)
t2 = ("torn","guerrier",150)
t3 = ("eryn","archer",120)

personnages = [t1,t2,t3]

In [10]:
nbr = personnages[1][2]
print(nbr)
personnages[1] = ("torn","guerrier",nbr-20)
print(personnages)

130
[('lila', 'mage', 100), ('torn', 'guerrier', 110), ('eryn', 'archer', 120)]

In [11]:
nom = personnages[1][0]
classe  = personnages[1][1]
point = personnages[1][2]
print(f"Nom du personnage : {nom}, Classe : {classe}, Points de vie : {point}")

Nom du personnage : torn, Classe : guerrier, Points de vie : 110